{% extends "base.html" %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{msg}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container">
<form action="#" method="post">
        <input type="text" placeholder="Enter Name: " name="nm" >
        <input type="password" placeholder="Enter Password:" name="password" >
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
</form>
</div>
{% endblock %}
{% block meme %}

{% endblock %}
